form {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 3px solid crimson;

	.address {
		display: flex;
		flex-direction: column;

		.address-row {
			display: flex;
			gap: 5px;
		}
	}

	.speed-row,
	.carrier-row,
	.cidr-row {
		width: 100%;
		display: flex;
		gap: 5px;

		.txt,
		.radio {
			width: 50%;
		}
	}

	// .carrier-row {
	// 	width: 80%;

	// 	.radio {
	// 		width: 50%;
	// 		border: 2px solid red;
	// 	}
	// }
}
