.q-container {
	height: calc(100vh - 64px);
	display: flex;
	flex-direction: column;

	.MuiPaper-root {
		width: 50%;
		padding: 30px;
		margin: auto;
		background-color: var(--paper-background);
		color: var(--txt-primary);

		form {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 5px;

			section {
				width: 100%;

				.q-row {
					width: 100%;
					display: flex;
					gap: 5px;
					justify-content: center;
					align-items: center;

					.txt,
					.radio {
						width: 50%;
					}
				}

				.address {
					width: 100%;
					display: flex;
					flex-direction: column;
				}
			}
		}

		&.dark {
			box-shadow:
				0px 6px 6px -3px rgba(211, 211, 211, 0.2),
				0px 10px 14px 1px rgba(211, 211, 211, 0.14),
				0px 4px 18px 3px rgba(211, 211, 211, 0.12);
		}
	}
}
