#topbar {
	width: 100%;
	height: 64px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	position: static;
	padding: 0 30px;
	background-color: var(--nav-background);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

	&.dark {
		box-shadow: 0 4px 8px rgba(211, 211, 211, 0.3);
	}

	.btn-row {
		display: flex;
		align-items: center;
		gap: 15px;
	}
}
