.select {
	width: 100%;
	align-self: center;
	text-align: center;
	text-align-last: center;
	margin: 10px;
	margin-top: 0;
	padding: 9px;
	border: 0.8px solid rgb(238, 238, 238) !important;
	border-radius: 10px !important;

	&:focus {
		outline: none;
	}

	.label {
		color: grey;
	}
}
