.template {
	text-align: left;

	h2 {
		text-align: center;
	}

	.config-details {
		white-space: pre-line;

		.user-entry {
			color: var(--error);

			&.dark {
				color: var(--highlight);
			}
		}
	}
}
